body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  width: 320px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px black;
  text-align: center;

}
h1{
  font-size: 28px;
  margin-bottom: 20px;
  color: gray;
}

input[type="text"]{
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid snow;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: skyblue;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: skyblue;

}

.weather-info {
  margin-top: 20px;
}


#temperature{
  font-size: 24px;
  font-weight: bold;
}

#description{
  margin-top: 10px;
  font-size: 18px;
  color: gray;
}
